/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  margin: 30px 0;
}

.survey-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}

.survey-info-card {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-top: 5%;
}

.survey-info-card h3 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.survey-info-card p {
  font-size: 16px;
  white-space: pre-wrap;
}

.survey-info-card img {
  margin-top: 20px;
  border-radius: 10px;
  max-height: auto;
  width: 100%;
}

.survey-form {
  flex: 1;
  margin-top: 5%;
}

.card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.question-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.text-input,
.number-input,
.select-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.select-input {
  appearance: none;
  background: url("down-arrow.png") no-repeat right center;
  padding-right: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.question input[type="radio"] {
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #5a92e3;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .survey-container {
    flex-direction: column;
    margin: 10px;
  }

  .survey-info-card {
    width: 100%;
    margin-right: 0;
  }

  .survey-form {
    width: 100%;
  }
}
